$font-color: #0000;
$background-color: rgba(0,0,255,0.5);
$fog-color: darkslategray;
$night-color: rgba(204,0,102,0.5);
$mask-color: rgba(0,0,0,0.1);
$button-color: transparent;
$bordercolor: lightgray;
$container-bgcolor: #f2f2f2;
$button-textcolor: #0000;
$shadowcolor: #fff;
$text-shadow-color: #a9a9a9;
$fadecolor: #a9a9a9;