@mixin flexCenter {
    display: flex;
    justify-content : center;
    align-items: center;
}

@mixin mq($s) {
    @media only screen and (min-width: $s) {
        @content;
    }
}

@mixin mqh($si) {
    @media only screen and (min-height: $si){
        @content;
    }
}

@mixin mqMaxWMinH($size1, $size2) {
    @media only screen and (max-width: $size1) and (min-height: $size2){
        @content;
    }
}